/06_product_gallery
/07_nav_bar
/08_photo_gallery
/09_drag_drop_list
/10_faq_accordion
/11_shopping_cart
/12_calculator
/13_todo_list
/14_string_operations
/15_stopwatch
/16_quiz_app
/17_product_filter
/18_notes_app
/19_resume_webpage
/20_registration_form
/21_weekly_timetable
/22_blog_layout
/23_portfolio
/24_image_gallery_filter
/25_bar_chart
/26_pie_chart
/27_weather_dashboard
/28_student_performance
/29_student_record_mongodb
/30_event_registration